<div class="p-2">
    <h2>Mes informations</h2>
    <div class="d-flex flex-row justify-content-between card me-5 ms-5 mb-3 p-3">
        <div class="card text-white bg-primary text-center col-3">
            <div class="card-body">
                <h5 class="card-title">User</h5>
                <p class="card-text"> 55$ </p>
            </div>
        </div>
        <div class="card text-white bg-warning text-center col-3">
            <div class="card-body">
                <h5 class="card-title">derangement</h5>
                <p class="card-text"> 50% </p>
            </div>
        </div>
        <div class="card text-white bg-success text-center col-3">
            <div class="card-body">
                <h5 class="card-title">offre</h5>
                <p class="card-text"> 55$ </p>
            </div>
        </div>
    </div>
    <div class="m-3 p-3">
        <div class="d-flex flex-row align-items-start">
                    
        </div>
    </div>
</div>